<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurnOut.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TurnOut.NET.Properties.Settings>
            <setting name="browser1" serializeAs="String">
                <value>%programfiles%\Mozilla Firefox\firefox.exe</value>
            </setting>
            <setting name="browser2" serializeAs="String">
                <value>%programfiles%\SRWare Iron\iron.exe</value>
            </setting>
            <setting name="browser3" serializeAs="String">
                <value>%programfiles%\Internet Explorer\iexplore.exe</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
        </TurnOut.NET.Properties.Settings>
    </userSettings>
</configuration>